.btn {
  width: 100px;
  height: 100vh;
  cursor: pointer;
  border: 1px solid black;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.calendar-container {
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  position: relative;
  width: 100vw;
  flex-direction: column;
}

.calendar {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  width: 500px;
  height: 1440px;
}

.calendar-block {
  color: white;
  padding: 4px;
  border-radius: 4px;
  background-color: #024d91;
  border: 1px solid white;
  width: 500px;
  box-sizing: border-box;
  text-transform: capitalize;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

.wrapper {
  background-color: #fcf9f7;
  pointer-events: none;
}

.absolute {
  position: absolute;
}

.available {
  background-color: #1cd9b6;
  color: black;
}

.busy {
  background-color: #024d91;
  color: white;
}
